/**
 * Import and use "Montserrat" font.
 * It is the free font most similar to "Proxima Nova", which is the primary sans-serif font on www.takapunaskiclub.nz.
 */
@import https://fonts.googleapis.com/css?family=Montserrat:400,700;
body, h1, h2, td {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 150%;
}


/**
 * General styles
 */
body {
  background: white;
}

a,
a:link,
a:visited {
  color: #39c;
}
a:hover,
a:active {
  color: #069;
}

h1 {
  color: #39c;
  border-bottom: 0 none;
}

input,
select,
button {
  font-size: 150% !important;
}


/**
 * Hide the clutter.
 */

/* Hide the website name. */
#headercontainer .headtext,
/* Only use the left image. */
#headercontainer .rightimage,
/* Hide the breadcrumbs, which immediately follows the timer in the DOM. */
#timer + .small,
/* Hide the page title on the homepage, which also immediately follows the timer in the DOM, because there are no breadcrumbs on the homepage. */
#timer + h1,
/* Hide the footer (date and duplicate menu links). */
#footercontainer {
  display: none;
}


/**
 * Layout.
 */

/* Use only an image for the header. */
#headercontainer .leftimage {
  width: 100%;
  height: auto;
  margin: 5px 0;
}

/* Move the left sidebar on the right hand side. */
#contentcontainer {
  margin: auto;
  padding-right: 1em;
}
#leftcontainer {
  float: right;
  width: 25%;
}
/* Wider sidebar on homepage for login form. */
form[action="default.aspx"] #leftcontainer {
  width: 40%;
}
/* Remove the grey background for the left sidebar. */
#pagecontainer {
  background: transparent none;
}

/**
 * Keep form buttons left aligned.
 */
.button {
  float: none !important;
  margin: 1.5em 0 !important;
  text-align: inherit !important;
}
.button input {
/*  font-size: 180% !important;*/
}
.textbox {
  margin-bottom: .5em !important;
}



/**
 * Main navigation menu.
 */
#topnavcontainer {
  /* Make whitespace consistent. */
  margin: 5px 0;
  /* Disable background image to remove the 3D effect. */
  background: transparent none;
}
#topnavcontainer td {
  /* Make whitespace consistent. */
  border-left-width: 5px;
  height: auto;
}

/* Link styles. */
#topnavcontainer td a {
  height: auto;
  background: #39c;
  color: #fff;
  font-weight: normal;
  font-size: 115%;
  line-height: 115%;
  padding-bottom: 0.2em;
  font-family: 'Montserrat', sans-serif;
}
#topnavcontainer td a:hover {
  background: #069 none;
}
#topnavcontainer td a:active,
#topnavcontainer td a.selected {
  color: #39c;
  background: #eee;
}


/**
 * Login form.
 */
#loginform {
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: inherit;
  width: 100%;
  padding: 0;
}
#loginform .textbox {
  width: 99%;
}
#loginform .helplinks a {
  display: block;
}


/**
 * Logout form.
 */
#logoutform {
  width: auto;
  float: none;
  padding: 1em 2em 1.5em;
  font: inherit;
}

#logoutform * {
  display: inline;
}


/**
 * Peg the EM Dev logo to the bottom of the sidebar.
 */
.emdevlink {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Ensure there is always enough space for the EM Dev logo to appear without overlapping sidebar content.*/
.leftcoltext {
  height: 100px;
}


/**
 * Sidebar menu.
 */
#leftnav .level1,
#leftnav .level1 li {
  float: none;
  width: auto;
  background-color: #eee;
}
#leftnav .level2 li {
  padding: 0 0 0 1em;
}
#leftnav li a {
  color: #000;
  font-family: inherit;
  font-size: 85%;
}
#leftnav li a:hover,
#leftnav li a:active {
  color: white;
  background-color: #39c;
}
#leftnav li a.selected,
#leftnav .level2 li a.selected {
  color: #39c;
  background-color: white;
}


/**
 * Availability calendar
 */
#availcalendar td.datecell[onclick] {
  cursor: pointer;
}

/* Fix the availability calendar on narrower screens. */
#availcalendar .date {
  height: auto;
}
